.sc-axis path, .sc-axis line {
    fill: none;
    stroke: #335C87;
    shape-rendering: crispEdges;
}

.sc-axis text {
    font-family: Helvetica,Arial,Verdana,sans-serif;
    font-size: 8px;
    fill: #333;
}

.sc-line {
    fill: none;
    stroke: #30a0eb;
    stroke-width: 1px;
}

.sc-area {
    fill: #e7f4fd;
}

.sc-point {
    stroke: #30a0eb;
    stroke-width: 2px;
    fill: #fff;
}