.sc-axis path, .sc-axis line {
    fill: none;
    stroke: #335C87;
    shape-rendering: crispEdges;
}

.sc-axis text {
    fill: #c9c9c9;
}

.sc-grid line{
    fill: none;
    stroke: #e8e8e8;
    shape-rendering: crispEdges;
}

.sc-axis text {
    font-family: Helvetica,Arial,Verdana,sans-serif;
    font-size: 8px;
    fill: #333;
}

.sc-line {
    fill: none;
    stroke: #30a0eb;
    stroke-width: 1px;
}

.sc-area {
    fill: #e7f4fd;
}

.sc-point {
    stroke: #30a0eb;
    stroke-width: 2px;
    fill: #fff;
}

.sc-line-0 {
    stroke: #4b80b6;
}

.sc-line-1 {
    stroke: #79af7b;
}

.sc-line-2 {
    stroke: #dc504f;
}

.sc-line-3 {
    stroke: #e2ba74;
}

.sc-line-4 {
    stroke: #a267a7;
}